window {
    background-color: #000000;
}
  
button:hover {
    color: #ff0000;
}

button{
    font-size: 2em;
}

label#LabelRondas, label#Modo_StopWatch{
    font-size: 7.5em;
}

label#TempoBlue {
    color: #0000ff;
}

label#countdown {
    font-size: 25em;
}

label#Tempo_timer{
    font-size: 15em;
}

label#Tempo_timer_rest {
    color: #0000ff;
    font-size: 15em;
}

label {
    color: #ff0000;
    font-size: 10em;
}


